<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!--   <a class="navbar-brand" href="#">LLF</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
              <li  class="nav-item active">
                <img src="/image/logo.png" width="50px;height:50px" /> 
              </li>
          <li class="nav-item active">
            
              <a class="nav-link" href="/users/home">Home <span class="sr-only">(current)</span></a>
          </li>
       <!--   <li class="nav-item ">
                  <a class="nav-link" href="/users/pldReports">M &amp; E</a>
              </li>-->
          <li class="nav-item">
              <a class="nav-link" href="/expense/">Expense</a>
          </li>
         <!--   <a class="nav-link" href="/procurement/">Procurement Request</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/procurement/getvendorListView">Vendor List</a>
        </li>-->
          
          <li class="nav-item dropdown">   
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-3" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Timesheets</a>
              <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-3">
                      <a class="dropdown-item" href="/timesheets/taskListView">Planning</a>
                      <a class="dropdown-item" href="/timesheets/timesheetListView">Actuals</a>
                      <a class="dropdown-item" href="/users/timesheet">Calendar</a>
              </div>
          </li>
      
      <!--    <% if(objUser.isManager) { %> 
          <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"> Manage Approvals</a>
              <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
              <a class="dropdown-item" href="/approvals/pldFormApprovals">M&E Form Approval</a>
              <a class="dropdown-item" href="/approvals/expenseApprovals">Expense Approval</a>
              </div>
          </li>
          <% } %>-->
         <!-- <li class="nav-item">
            <a class="nav-link" href="/activityCodes/getActivityCodesListView">Activity Code</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tasks/TaskListView">Task</a>
          </li>-->
          </ul>
          <form class="form my-2 my-lg-0">
          
              <ul class="my-2 my-sm-0 navbar-nav">
                  <li class="nav-item dropdown" style="float:right">
                      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4"  data-title="Usname"  data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                     <!-- <i class="fas fa-user " ></i>-->
                    <img id="navimg" style=" height: 40px;
                    width: 40px;border-radius: 100%;"  src=>  </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                      <a class="dropdown-item" href="/users/editProfile">Edit Profile</a>
                      <a class="dropdown-item" href="/users/logout">Log out</a>
                      </div>
                  </li>
              </ul>
          
          </form>


          <script>
            window.setInterval(()=>{
                let obj1 = decodeURIComponent(getCookie('obj'));
                obj1= JSON.parse(obj1);
                //console.log(obj1);
                console.log(obj1.name);
               // console.log('2'+obj);
                let val={};
                val['Name']=obj1.name //obj1.name;
               console.log(val);
              $.ajax({
                  url:'/users/salinactive',
                  type:'post',
                  data:val,
                  dataType:'json'                
                  
                })
               
                .done((response)=>{
                 // alert('h'+JSON.stringify(response[0].active__c));
                  console.log('k1'+JSON.stringify(response[0]));
                  if(!response[0].active__c){
                   // alert('User is inactive.Contact your website administrator');
                    window.location.href='/users/logout';
                  }
                })
                .fail((jqXHR, status, error)=>{
                  console.log('k2'+error);
                })  
                
            },5000)
         

            let time = 2
             localStorage.timeout =  0;
             window.ids =   window.setInterval(()=>{

                let int = Number(localStorage.timeout)
                  localStorage.timeout = ++int
                  if(int == time){
                   window.location.href = '/users/inactivity'
                   window.clearInterval( window.ids);
                 }

                  
            },7200000)

             window.onstorage = (e) => {
                  let newValue = e.newValue
                  console.log(newValue)
                  if(newValue == time){
                   window.location.href = '/users/inactivity'
                   window.clearInterval( window.ids);
                 }

             }


          window.onbeforeunload = ()=> window.clearInterval( window.ids);
           
          function getCookie(name) {
              let cookie = {};
              document.cookie.split(';').forEach(function(el) {
                let [k,v] = el.split('=');
                cookie[k.trim()] = v;
              })
              return cookie[name];
            }

            window.setTimeout(()=>{
               window.onclick =  ()=>{
                localStorage.timeout = 0

              }


             let obj = decodeURIComponent(getCookie('obj'))
             // let obj2 = decodeURIComponent(getCookie(''))
              obj = JSON.parse(obj);
             
              $('[data-title="Usname"]').append('&nbsp;' + obj.name)
            //  $('#navimg').append(obj.profile_picture_url__c)
              document.getElementById("navimg").src=obj.profile_picture_url__c;
              // $('#navbarDropdownMenuLink-4').html('&nbsp;' + obj.name)
            })

            

          </script>
      
      </div>
      </nav>
