<% include ./partials/navbar %>
<% include ./partials/footer %>
<% include ./partials/messages %>

<div class="container-fluid bg-gray" id="accordion-style-1" style="align-items: center;">
</br>

<a class="btn btn-primary btn-md bg-gray" href="/procurement/getVendorListView" >Go To Vendor List View </a>
</br>
<h3 style="text-align: center;">Create New :  Vendor List </h3>
<div class="">
  <div id="errorMessages"></div>
<form method="POST" name="createvendor" id ="formdata">

  <div class="form-group">
    <div class="row">
        <div class="col-md-6">
        <label for="state" > State <span style="color: red;">*</span>  </label>
        <select id="state" name="state" class="form-control item_unit"><option value="">Select</option></select>
        </div>
      <div class="col-md-6">
        <label for="district">District <span style="color: red;">*</span> </label>
       <select id="district" name="district" class="form-control item_unit" ><option value="">Select</option></select>
      </div>
    </div>
</div>
    <div class="form-group">
        <div class="row">          
          <div class="col-md-6">
            <label for="name">Vendor Name <span style="color: red;">*</span></label>
             <input type="text" class="form-control" id="name" value=""   name="name" > 
          </div>
          <div class="col-md-6">
            <label for="cont">Contact No. <span style="color: red;">*</span></label>
            <input type="number"  class="form-control" id="cont" value=""   name="cont" >
          </div>
        
        </div>
    </div>
   
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
            <label for="authority">Name of Signing Authority from Vendor</label>
            <input type="text"  class="form-control" id="authority"    name="authority" >
            </div>
            <div class="col-md-6">
              <label for="pan"> Pan Number </label>
               <input type="text" class="form-control" id="pan" value=""   name="pan" > 
              </div>
       
        </div>
    </div>

    

    <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="accNo">Bank Account Number <span style="color: red;">*</span></label>
            <input type="number"  class="form-control" id="accNo" name="accNo" >
          </div>
            <div class="col-md-6">
            <label for="bankkDet"> Bank Details(Name,Branch, etc) <span style="color: red;">*</span></label>
             <input type="text" class="form-control" id="bankkDet" value=""   name="bankkDet" > 
            </div>  
        </div>
    </div>

    <div class="form-group">
      <div class="row">
          <div class="col-md-6">
          <label for="add">Address/Web Address</label>
           <input type="text" class="form-control" id="add" value=""   name="add" > 
          </div>
          <div class="col-md-6">
            <label for="ifsc">Bank IFSC Code <span style="color: red;">*</span></label>
            <input type="text"  class="form-control" id="ifsc" value=""   name="ifsc" >
          </div>
       
      </div>
  </div>

    <div class="form-group">
        <div class="row">
           
            <div class="col-md-6">
              <label for="gst"> GST No.</label>
              <input type="text"  class="form-control" id="gst" value=""   name="gst" >
            </div>
            <div class="col-md-6">
              <label for="other">Reason for not providing GST no.</label>
                <input type="text" class="form-control" id="reason" value=""   name="reason" > 
              </div>
        </div>
    </div>
  </div>

  <button style="margin-left: 45% ; border: 5px solid black; width:100px;height:50px;" type="submit" class="btn btn-primary" id="CreateVendor" >Save</button>
 
  <!--  <button  class="btn btn-primary" href="/procurement/getVendorsList">GOTO Impaneled Vendor List</button> -->
 <!-- <button type="button" style="margin-left:20px ; border: 5px solid black; width:200px;height:90px;" class="btn btn-primary" id="listOfVendor" data-dismiss="modal">ImapneledVendorList</button></form> -->
</div></div>
<script>
     let st =["Andaman and Nicobar Islands","Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chandigarh","Chhattisgarh","Dadra Nagar Haveli","Daman Diu","Delhi","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu Kashmir",
    "Jharkhand","Karnataka","Kerala","Lakshadweep","Ladakh","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Puducherry","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal"];
    let dstrAN=["Nicobar","North Middle Andaman","South Andaman"]
    let dstrAP=["Anantapur","Chittoor","East Godavari","Guntur","Kadapa","Krishna","Kurnool","Nellore","Prakasam","Srikakulam","Visakhapatnam","Vizianagaram","West Godavari"]
    let dstrARP=["Anjaw","Central Siang","Changlang","Dibang Valley","East Kameng","East Siang","Kamle","Kurung Kumey","Lepa Rada","Lohit","Longding","Lower Dibang Valley","Lower Siang","Lower Subansiri","Namsai","Pakke Kessang","Papum Pare","Shi Yomi","Tawang","Tirap","Upper Siang","Upper Subansiri","West Kameng","West Siang"];
    let dstrAS=["Bajali","Baksa","Barpeta","Biswanath","Bongaigaon","Cachar","Charaideo","Chirang","Darrang","Dhemaji","Dhubri","Dibrugarh","Dima Hasao","Goalpara","Golaghat","Hailakandi","Hojai","Jorhat","Kamrup","Kamrup Metropolitan","Karbi Anglong","Karimganj","Kokrajhar","Lakhimpur","Majuli","Morigaon","Nagaon","Nalbari","Sivasagar","Sonitpur","South Salmara-Mankachar","Tinsukia","Udalguri","West Karbi Anglong"];
    let dstrBh=["Araria","Arwal","Aurangabad","Banka","Begusarai","Bhagalpur","Bhojpur","Buxar","Darbhanga","East Champaran","Gaya","Gopalganj","Jamui","Jehanabad","Kaimur","Katihar","Khagaria","Kishanganj","Lakhisarai","Madhepura","Madhubani","Munger","Muzaffarpur","Nalanda","Nawada","Patna","Purnia","Rohtas","Saharsa","Samastipur","Saran","Sheikhpura","Sheohar","Sitamarhi","Siwan","Supaul","Vaishali","West Champaran"];
    let dstrCHD=["Chandigarh"];
    let dstrCHG=["Balod","Baloda Bazar","Balrampur","Bastar","Bemetara","Bijapur","Bilaspur","Dantewada","Dhamtari","Durg","Gariaband","Gaurela Pendra Marwahi","Janjgir Champa","Jashpur","Kabirdham","Kanker","Kondagaon","Korba","Koriya","Mahasamund","Mungeli","Narayanpur","Raigarh","Raipur","Rajnandgaon","Sukma","Surajpur","Surguja"];
    let dstrDNH=["Dadra Nagar Haveli"];
    let dstrDD=["Daman","Diu"];
    let dstrDEL=["Central Delhi","East Delhi","New Delhi","North Delhi","North East Delhi","North West Delhi","Shahdara","South Delhi","South East Delhi","South West Delhi","West Delhi"];
    let dstrGOA=["North Goa","South Goa"];
    let dstrGJ=["Ahmedabad","Amreli","Anand","Aravalli","Banaskantha","Bharuch","Bhavnagar","Botad","Chhota Udaipur","Dahod","Dang","Devbhoomi Dwarka","Gandhinagar","Gir Somnath","Jamnagar","Junagadh","Kheda","Kutch","Mahisagar","Mehsana","Morbi","Narmada","Navsari","Panchmahal","Patan","Porbandar","Rajkot","Sabarkantha","Surat","Surendranagar","Tapi","Vadodara","Valsad"];
    let dstrHR=["Ambala","Bhiwani","Charkhi Dadri","Faridabad","Fatehabad","Gurugram","Hisar","Jhajjar","Jind","Kaithal","Karnal","Kurukshetra","Mahendragarh","Mewat","Palwal","Panchkula","Panipat","Rewari","Rohtak","Sirsa","Sonipat","Yamunanagar",]
    let dstrHP=["Bilaspur","Chamba","Hamirpur","Kangra","Kinnaur","Kullu","Lahaul Spiti","Mandi","Shimla","Sirmaur","Solan","Una"];
    let dstrJK=["Anantnag","Bandipora","Baramulla","Budgam","Doda","Ganderbal","Jammu","Kathua","Kishtwar","Kulgam","Kupwara","Poonch","Pulwama","Rajouri","Ramban","Reasi","Samba","Shopian","Srinagar","Udhampur"]
    let dstrJHK=["Bokaro","Chatra","Deoghar","Dhanbad","Dumka","East Singhbhum","Garhwa","Giridih","Godda","Gumla","Hazaribagh","Jamtara","Khunti","Koderma","Latehar","Lohardaga","Pakur","Palamu","Ramgarh","Ranchi","Sahebganj","Seraikela Kharsawan","Simdega","West Singhbhum"]
    let dstrKTK=["Bagalkot","Bangalore Rural","Bangalore Urban","Belgaum","Bellary","Bidar","Chamarajanagar","Chikkaballapur","Chikkamagaluru","Chitradurga","Dakshina Kannada","Davanagere","Dharwad","Gadag","Gulbarga","Hassan","Haveri","Kodagu","Kolar","Koppal","Mandya","Mysore","Raichur","Ramanagara","Shimoga","Tumkur","Udupi","Uttara Kannada","Vijayapura","Yadgir"];
    let dstrKR=["Alappuzha","Ernakulam","Idukki","Kannur","Kasaragod","Kollam","Kottayam","Kozhikode","Malappuram","Palakkad","Pathanamthitta","Thiruvananthapuram","Thrissur","Wayanad"];
    let dstrLKS=["Lakshadweep"];
    let dstrLDK=["Kargil","Leh"];
    let dstrMP=["Agar Malwa","Alirajpur","Anuppur","Ashoknagar","Balaghat","Barwani","Betul","Bhind","Bhopal","Burhanpur","Chachaura","Chhatarpur","Chhindwara","Damoh","Datia","Dewas","Dhar","Dindori","Guna","Gwalior","Harda","Hoshangabad","Indore","Jabalpur","Jhabua","Katni","Khandwa","Khargone","Maihar","Mandla","Mandsaur","Morena","Narsinghpur","Nagda","Neemuch","Niwari","Panna","Raisen","Rajgarh","Ratlam","Rewa","Sagar","Satna","Sehore","Seoni","Shahdol","Shajapur","Sheopur","Shivpuri","Sidhi","Singrauli","Tikamgarh","Ujjain","Umaria","Vidisha"];
    let dstrMH=["Ahmednagar","Akola","Amravati","Aurangabad","Beed","Bhandara","Buldhana","Chandrapur","Dhule","Gadchiroli","Gondia","Hingoli","Jalgaon","Jalna","Kolhapur","Latur","Mumbai City","Mumbai Suburban","Nagpur","Nanded","Nandurbar","Nashik","Osmanabad","Palghar","Parbhani","Pune","Raigad","Ratnagiri","Sangli","Satara","Sindhudurg","Solapur","Thane","Wardha","Washim","Yavatmal"];
    let dstrMNP=["Bishnupur","Chandel","Churachandpur","Imphal East","Imphal West","Jiribam","Kakching","Kamjong","Kangpokpi","Noney","Pherzawl","Senapati","Tamenglong","Tengnoupal","Thoubal","Ukhrul"];
    let dstrMGH=["East Garo Hills","East Jaintia Hills","East Khasi Hills","North Garo Hills","Ri Bhoi","South Garo Hills","South West Garo Hills","South West Khasi Hills","West Garo Hills","West Jaintia Hills","West Khasi Hills"];
    let dstrMZ=["Aizawl","Champhai","Hnahthial","Kolasib","Khawzawl","Lawngtlai","Lunglei","Mamit","Saiha","Serchhip","Saitual"];
    let dstrNL=["Mon","Dimapur","Kiphire","Kohima","Longleng","Mokokchung","Noklak","Peren","Phek","Tuensang","Wokha","Zunheboto"];
    let dstrOD=["Angul","Balangir","Balasore","Bargarh","Bhadrak","Boudh","Cuttack","Debagarh","Dhenkanal","Gajapati","Ganjam","Jagatsinghpur","Jajpur","Jharsuguda","Kalahandi","Kandhamal","Kendrapara","Kendujhar","Khordha","Koraput","Malkangiri","Mayurbhanj","Nabarangpur","Nayagarh","Nuapada","Puri","Rayagada","Sambalpur","Subarnapur","Sundergarh"];
    let dstrPUD=["Karaikal","Mahe","Puducherry","Yanam"];
    let dstrPB=["Amritsar","Barnala","Bathinda","Faridkot","Fatehgarh Sahib","Fazilka","Firozpur","Gurdaspur","Hoshiarpur","Jalandhar","Kapurthala","Ludhiana","Mansa","Moga","Mohali","Muktsar","Pathankot","Patiala","Rupnagar","Sangrur","Shaheed Bhagat Singh Nagar","Tarn Taran"];
    let dstrRJ=["Ajmer","Alwar","Banswara","Baran","Barmer","Bharatpur","Bhilwara","Bikaner","Bundi","Chittorgarh","Churu","Dausa","Dholpur","Dungarpur","Hanumangarh","Jaipur","Jaisalmer","Jalore","Jhalawar","Jhunjhunu","Jodhpur","Karauli","Kota","Nagaur","Pali","Pratapgarh","Rajsamand","Sawai Madhopur","Sikar","Sirohi","Sri Ganganagar","Tonk","Udaipur"];
    let dstrSK=["East Sikkim","North Sikkim","South Sikkim","West Sikkim"];
    let dstrTN=["Ariyalur","Chengalpattu","Chennai","Coimbatore","Cuddalore","Dharmapuri","Dindigul","Erode","Kallakurichi","Kanchipuram","Kanyakumari","Karur","Krishnagiri","Madurai","Mayiladuthurai","Nagapattinam","Namakkal","Nilgiris","Perambalur","Pudukkottai","Ramanathapuram","Ranipet","Salem","Sivaganga","Tenkasi","Thanjavur","Theni","Thoothukudi","Tiruchirappalli","Tirunelveli","Tirupattur","Tiruppur","Tiruvallur","Tiruvannamalai","Tiruvarur","Vellore","Viluppuram","Virudhunagar"];
    let dstrTEL=["Adilabad","Bhadradri Kothagudem","Hyderabad","Jagtial","Jangaon","Jayashankar","Jogulamba","Kamareddy","Karimnagar","Khammam","Komaram Bheem","Mahabubabad","Mahbubnagar","Mancherial","Medak","Medchal","Mulugu","Nagarkurnool","Nalgonda","Narayanpet","Nirmal","Nizamabad","Peddapalli","Rajanna Sircilla","Ranga Reddy","Sangareddy","Siddipet","Suryapet","Vikarabad","Wanaparthy","Warangal Rural","Warangal Urban","Yadadri Bhuvanagiri"];
    let dstrTP=["Dhalai","Gomati","Khowai","North Tripura","Sepahijala","South Tripura","Unakoti","West Tripura"];
    let dstrUP=["Agra","Aligarh","Ambedkar Nagar","Amethi","Amroha","Auraiya","Ayodhya","Azamgarh","Baghpat","Bahraich","Ballia","Balrampur","Banda","Barabanki","Bareilly","Basti","Bhadohi","Bijnor","Budaun","Bulandshahr","Chandauli","Chitrakoot","Deoria","Etah","Etawah","Farrukhabad","Fatehpur","Firozabad","Gautam Buddha Nagar","Ghaziabad","Ghazipur","Gonda","Gorakhpur","Hamirpur","Hapur","Hardoi","Hathras","Jalaun","Jaunpur","Jhansi","Kannauj","Kanpur Dehat","Kanpur Nagar","Kasganj","Kaushambi","Kheri","Kushinagar","Lalitpur","Lucknow","Maharajganj","Mahoba","Mainpuri","Mathura","Mau","Meerut","Mirzapur","Moradabad","Muzaffarnagar","Pilibhit","Pratapgarh","Prayagraj","Raebareli","Rampur","Saharanpur","Sambhal","Sant Kabir Nagar","Shahjahanpur","Shamli","Shravasti","Siddharthnagar","Sitapur","Sonbhadra","Sultanpur","Unnao","Varanasi"];
    let dstrUK=["Almora","Bageshwar","Chamoli","Champawat","Dehradun","Haridwar","Nainital","Pauri","Pithoragarh","Rudraprayag","Tehri","Udham Singh Nagar","Uttarkashi"];
    let dstrWB=["Alipurduar","Bankura","Birbhum","Cooch Behar","Dakshin Dinajpur","Darjeeling","Hooghly","Howrah","Jalpaiguri","Jhargram","Kalimpong","Kolkata","Malda","Murshidabad","Nadia","North 24 Parganas","Paschim Bardhaman","Paschim Medinipur","Purba Bardhaman","Purba Medinipur","Purulia","South 24 Parganas","Uttar Dinajpur"];

    var itemsCategory = [ "Electrical", "Events", "IT", "Materials On Rent", "Miscellaneous","Printing","Stationery" ];
    var Stationery = ["A4 Size Paper Rim","Books","Eraser","Files","Magnetic Board","Markers", "Others", "Pen", "Pencil","Sharpner","White", ];
    var Printing = ["Binding","Brochures","Caps", "Certificates", "Leaflets","Others", "Posters", "Standees" ];
    var Electrical = ["Battery", "Camera", "Extension Board", "Fan" , "Heater", "Inverter", "LCD Projector", "Lights", "Others", "Plasma", "Telephone", "UPS"  ];
    var Events = ["Others", "Suggest Hotels"];
    var IT = ["Cartridge","CPU", "Desktop","Desktop Mouse", "External Hard Disk", "Keyboard", "Laptop" ,"Laptop Charger", "Monitor", "Others", "Pen Drive", "Printer", "RAM", "Server", "Software","Tablet"];
    var MaterialsOnRent = [ "AV Systems", "Backdrop", "Hardware Peripherals", "Others" , "Projector"];
    var Miscellaneous = ["Any Other Expense", "Maintenance"];
    
    $(document).ready(function(){

      if(st.length > 0)
      {
        for(let i=0; i < st.length; i++)
        {
          $('#state')
          .append($("<option></option>")
          .attr("value",st[i])
          .text(st[i]))
        }
      }
      $('#state').on('change',function(){
        let state =this.value;
        sts=state;
        //alert("selcted"+sts);
        let select = document.getElementById("district");
        let length = select.options.length;
        for (i = length-1; i > 0; i--) {
          select.options[i] = null;
         }
      //  alert('You Choose'+state);
      if(state=='Andaman and Nicobar Islands')
        {
         $('#district').attr("readonly",false);
       //  alert('You Choose=> '+state);
         $('#district')
          for(let i=0; i <dstrAN.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrAN[i])
           .text(dstrAN[i]))
          }
        }
         else if(state=='Andhra Pradesh')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrAP.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrAP[i])
           .text(dstrAP[i]))
          }
        }
	 else if(state=='Arunachal Pradesh')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrARP.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrARP[i])
           .text(dstrARP[i]))
          }
        }
	 else if(state=='Assam')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrAS.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrAS[i])
           .text(dstrAS[i]))
          }
        }
	 else if(state=='Bihar')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrBh.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrBh[i])
           .text(dstrBh[i]))
          }
        }
	 else if(state=='Chandigarh')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrCHD.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrCHD[i])
           .text(dstrCHD[i]))
          }
        }
	 else if(state=='Chhattisgarh')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrCHG.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrCHG[i])
           .text(dstrCHG[i]))
          }
        }
	 else if(state=='Dadra Nagar Haveli')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrDNH.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrDNH[i])
           .text(dstrDNH[i]))
          }
        }
	 else if(state=='Daman Diu')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrDD.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrDD[i])
           .text(dstrDD[i]))
          }
        }
	 else if(state=='Delhi')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrDEL.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrDEL[i])
           .text(dstrDEL[i]))
          }
        }
	 else if(state=='Goa')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrGOA.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrGOA[i])
           .text(dstrGOA[i]))
          }
        }
	 else if(state=='Gujarat')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrGJ.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrGJ[i])
           .text(dstrGJ[i]))
          }
        }
	 else if(state=='Haryana')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrHR.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrHR[i])
           .text(dstrHR[i]))
          }
        }
	 else if(state=='Himachal Pradesh')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrHP.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrHP[i])
           .text(dstrHP[i]))
          }
        }
	 else if(state=='Jammu Kashmir')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrJK.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrJK[i])
           .text(dstrJK[i]))
          }
        }
	 else if(state=='Jharkhand')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrJHK.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrJHK[i])
           .text(dstrJHK[i]))
          }
        }
	 else if(state=='Karnataka')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrKTK.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrKTK[i])
           .text(dstrKTK[i]))
          }
        }
	 else if(state=='Kerala')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrKR.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrKR[i])
           .text(dstrKR[i]))
          }
        }
	 else if(state=='Lakshadweep')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrLKS.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrLKS[i])
           .text(dstrLKS[i]))
          }
        }
	 else if(state=='Ladakh')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrLDK.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrLDK[i])
           .text(dstrLDK[i]))
          }
        }
	 else if(state=='Madhya Pradesh')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrMP.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrMP[i])
           .text(dstrMP[i]))
          }
        }
 else if(state=='Maharashtra')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrMH.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrMH[i])
           .text(dstrMH[i]))
          }
        }
 else if(state=='Manipur')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrMNP.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrMNP[i])
           .text(dstrMNP[i]))
          }
        }
 else if(state=='Meghalaya')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrMGH.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrMGH[i])
           .text(dstrMGH[i]))
          }
        }
 else if(state=='Mizoram')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrMZ.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrMZ[i])
           .text(dstrMZ[i]))
          }
        }
 else if(state=='Nagaland')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrNL.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrNL[i])
           .text(dstrNL[i]))
          }
        }
 else if(state=='Odisha')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrOD.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrOD[i])
           .text(dstrOD[i]))
          }
        }
	 else if(state=='Puducherry')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrPUD.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrPUD[i])
           .text(dstrPUD[i]))
          }
        }
	 else if(state=='Punjab')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrPB.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrPB[i])
           .text(dstrPB[i]))
          }
        }
	 else if(state=='Rajasthan')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrRJ.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrRJ[i])
           .text(dstrRJ[i]))
          }
        }
	 else if(state=='Sikkim')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrSK.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrSK[i])
           .text(dstrSK[i]))
          }
        }
	 else if(state=='Tamil Nadu')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrTN.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrTN[i])
           .text(dstrTN[i]))
          }
        }
	else if(state=='Telangana')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrTEL.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrTEL[i])
           .text(dstrTEL[i]))
          }
        }
	else if(state=='Tripura')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrTP.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrTP[i])
           .text(dstrTP[i]))
          }
        }
else if(state=='Uttar Pradesh')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrUP.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrUP[i])
           .text(dstrUP[i]))
          }
        }
else if(state=='Uttarakhand')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrUK.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrUK[i])
           .text(dstrUK[i]))
          }
        }
	else if(state=='West Bengal')
        {
     //    alert('You Choose=> '+state);
         $('#district').attr("readonly",false);
         $('#district').clearQueue();
          for(let i=0; i <dstrWB.length; i++)
          {
           $('#district')
           .append($("<option></option>")
           .attr("value",dstrWB[i])
           .text(dstrWB[i]))
          }
        }
        else{
         $('#district').attr("readonly",true);
        }
        $('#district').on('change',function(){
         dstr=this.value;
         //alert('District choose =>'+dstr);
       })           
     })

     
     for(i=0;i<itemsCategory.length;i++)
        {
           $('#service')
                   .append($("<option></option>")
                   .attr("value",itemsCategory[i])
                   .text(itemsCategory[i]));		
        }

        var subListValue="";
        let itemsCategoryValue;
        $('#service').on('change', function() {
          $('#items').empty();
          itemsCategoryValue = this.value;
          subListValue = eval(this.value); 
      //    alert('subListValue  '+subListValue);
          for(i=0;i<subListValue.length;i++)
          {
           
            $('#items')
              .append($("<option></option>")
              .attr("value",subListValue[i])
              .text(subListValue[i]));		
         }
        })
    })
   
    $('#listOfVendor').on('click',function(event){
      event.preventDefault();
                event.stopPropagation();
                event.stopImmediatePropagation();
            //    alert(' Button Clicked !');
                location.href = "/procurement/getvendorListView";
    })  

    $(function () {
      $('form#formdata').bind('submit', function () {
        $("#CreateVendor").attr("disabled", true);
        let data=$('form#formdata').serialize();
        
     //   alert('Sumbit button clicked!' +data);
        $.ajax({
          type: 'post',
          url: '/procurement/saveVendor',   // Need to make changes in post method url
          data:$('form#formdata').serialize(),
          success: function (data) {
            console.log(data);
            let msg = data;
       if(data == 'Saved Successfully !')
       {
        document.getElementById("formdata").reset();
        let errorHtml = '<div class="alert alert-success alert-dismissible fade show" role="alert">'+ data+
            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
              '<span aria-hidden="true">&times;</span>'+
            '</button>'+
          '</div>';
          $('#errorMessages').empty();
          $("#CreateVendor").attr("disabled", false);
          $('#errorMessages').append(errorHtml);
        
         
       }
       else
       {
        let errorHtml = '<div class="alert alert-danger alert-dismissible fade show" role="alert">'+ data+
            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
              '<span aria-hidden="true">&times;</span>'+
            '</button>'+
          '</div>';
          $('#errorMessages').empty();
          $('#errorMessages').append(errorHtml);
          $("#CreateVendor").attr("disabled", false);
       }
          },
      fail:function(jqXHR ,status,error){
        console.log('jqXHR '+JSON.stringify(jqXHR));        
      }
        });
        
        return false;
      })
    })  
</script>
