<style>

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #container {
    /* 	 min-height:80%; */
       margin-left:auto;
        margin-right:auto;
        width:70%;
        overflow-y: hidden;
        overflow-x: hidden;
    }
      </style>

<!DOCTYPE html>
<html>
  <body>
<div id="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
              <% include ./partials/messages %>
            <h4 class="text-center mb-3"> Forgot Password ? </h4>
            <div class="">
              <div id="errorMessages"></div>
    <form name="forgetPass" id="forgetPass" >
        <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="emailPass"
              name="emailPass"
              class="form-control"
              placeholder="Enter You Registered Email"
              value=""
              required="true"
            />
          </div>
         <!--
<div class="row">
           </div>
           <div class="form-group">
              <div class="col-md-6">
             <input type="email" placeholder="Enter You Registered Email" style="height: 80px; margin-left: 140px; text-align: center;" class="form-control" id="emailPass" value="" style="text-align: center;"  name="emailPass" required="true"> <br></br>
             </div>
           </div>
         -->  <div>
        <center><button type="submit" class="btn btn-primary" id="sendMail">Send</button></center> 
        </form></div>
        <!--  <div><button type="submit" class="btn btn-primary" id="sendMail"  style="margin-left:350px;"><center><h2>send</h2></button></center></div>
    </form> -->  
</div>
</div>
</div>
</div>
</body>
</html>
<script>
$('#sendMail').on('click',function(event){
    
    event.preventDefault();
    event.stopPropagation();
    event.stopImmediatePropagation();
  //  alert('Save Button Clicked !');
    var $inputs = $('#forgetPass :input');
    var values = {};
    $inputs.each(function() {
        values[this.name] = $(this).val();
    });
 //   alert('formValues : '+JSON.stringify(values));
    $.ajax({
        url : '/users/salesforceEmailVeerification',
        type:'post',
        data: values,
        dataType : 'json'
    })
    .done((response) =>{
        console.log('response ::'+JSON.stringify(response));
        var val =response[0];
 //       const id = response[0].sfid;
        console.log('response val'+JSON.stringify(val));
        $.ajax({
            url : '/users/sendEMail',
            type:'post',
            data: val,
            dataType : 'json'
        })
        .done((response)=>{
            console.log('Email Send'+response);
        })
        .fail((jqXHR, status, error) => {
            console.log('jqXHR  '+JSON.stringify(jqXHR));
            console.log('jqXHR  '+JSON.stringify(jqXHR));
            if(jqXHR.responseText== "Email Sent")
                             {
                                //  alert('Email Sent');
                                let errorHtml = '<div class="alert alert-success alert-dismissible fade show" role="alert">'+jqXHR.responseText+
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                                '<span aria-hidden="true">&times;</span>'+
                                '</button>'+
                                '</div>';
                                $('#errorMessages').empty();
                                $('#errorMessages').append(errorHtml); 
                               
                              }
                              else
                              {
                                console.log('jqXHR   '+JSON.stringify(jqXHR));
                                //  alert('Error: '+jqXHR.responseText);
                                let errorHtml = '<div class="alert alert-danger alert-dismissible fade show" role="alert">'+jqXHR.responseText+
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                                '<span aria-hidden="true">&times;</span>'+
                                '</button>'+
                                '</div>';
                                $('#errorMessages').empty();
                                $('#errorMessages').append(errorHtml); 
                             
                              }
      
      })    

    })
    .fail((jqXHR, status, error) => {
          console.log('Fisrt Response Eror ');
          console.log('jqXHR  '+JSON.stringify(jqXHR));
    })


})
</script>