<style>
    body {
        background: #ececec;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    /*Hidden class for adding and removing*/
    .lds-dual-ring.hidden {
        display: none;
    }
  
 
    /*Add an overlay to the entire page blocking any further presses to buttons or other elements.*/
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.8);
        z-index: 999;
        opacity: 1;
        transition: all 0.5s;  
    }
    .outerdiv{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 11%;
    } 
    .innerdiv{
        box-shadow: rgb(193 193 193) 0px 2px 16px;
        padding: 30px;
        border-radius: 20px;
        text-align: center;
    }
     
  </style>
<div class="outerdiv">
    <div class="innerdiv">
     
       
        
      
      <h3>You are logged out due to inactivity.</h3> 
      

       <!-- <br/>
        <a href="/users/logout" class="btn btn-primary">Logout</a>-->
        <br/>
        <button  id="returnback" class="btn btn-primary"> Return to back screen</button>
        
     
    </div>
</div>
<script>
    document.getElementById("returnback").onclick=function(){
       // history.back();
           window.open('/users/logout','_self')
    }
   // window.open('/users/login','_self')
    window.history.forward();
        function noBack() {
            window.history.forward();
        }

</script>