<style>

  html, body {
      height: 100%;
      margin: 0;
      padding: 0;
  }
  #container {
  /* 	 min-height:80%; */
      margin-left:auto;
      margin-right:auto;
      width:70%;
      overflow-y: hidden;
      overflow-x: hidden;
      flex-grow:1;
      background:lightblue
  }
    </style>

      <!DOCTYPE html>
      <html>
        <body>
          <div style="display:flex;height:100%">

      <div id="container">
 <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body" style="margin-top:15px">
          <% include ./partials/messages %>
          <img src="/image/logo.png" width="200" height="75" style="padding-left:85px">
          <h1 class="text-center mb-3"> Login</h1>
      
        <form action="/users/login" method="POST">
          <div class="form-group">
            <label for="email">Username</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <div>
            <input type="checkbox" id="remember" name="remember">
            <label for="remember" id="remember">remember me</label>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <p class="lead mt-4">
           <a href="/users/forgotpassword">Forgot Password?</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div style="width:50%">
  <iframe src="https://www.learninglinksindia.org/" width="680" height="619" title="llf"></div></iframe>
</div>
</div>

</body>
</html>