<style>

  html, body {
      height: 100%;
      margin: 0;
      padding: 0;
  }
  #container {
  /* 	 min-height:80%; */
     margin-left:auto;
      margin-right:auto;
      width:70%;
      overflow-y: hidden;
      overflow-x: hidden;
  }
    </style>

      <!DOCTYPE html>
      <html>
        <body>
      <div id="container">
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
          <% include ./partials/messages %>
        <h1 class="text-center mb-3"> Login</h1>
      
        <form action="/users/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <p class="lead mt-4">
           <a href="/users/forgotpassword">Forgot Password?</a>
        </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>