<style>

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #container {
    /* 	 min-height:80%; */
       margin-left:auto;
        margin-right:auto;
        width:70%;
        overflow-y: hidden;
        overflow-x: hidden;
    }
      </style>
<!DOCTYPE html>
<html>
  <body>
<div id="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
              <% include ./partials/messages %>
              <h4 class="text-center mb-3"> Reset Password </h4>
              <div class="">
                <div id="errorMessages"></div>
              <form name="savepassword" id="savepassword" >
                    <div class="form-group">
                        <label for="email">Enter New Password</label>
                        <input
                          type="password"
                          id="pass"
                          name="pass"
                          class="form-control"
                          placeholder="Enter New Password"
                          value=""
                          required="true"
                        />
                      </div>
                      <div class="form-group">
                        <label for="email">Re-enter New Password</label>
                        <input
                          type="password"
                          id="pass2"
                          name="pass2"
                          class="form-control"
                          placeholder="Re-enter New Password"
                          value=""
                          required="true"
                        />
                      </div>
                      <div>
                        <center><button type="submit" class="btn btn-primary" id="savePass">Done</button></center> 
                        </form></div>
                        <p class="lead mt-4">
                            <a href="https://learninglinksfoundation.herokuapp.com/users/login">Back</a>
                         </p>
                    </div>
                </div>
                </div>
                </div>
                <p id = 'contactID'><%=userId %></p>
                </body>
                </html>
      
    
  
<script>
    $(document).ready(function(){
     $('#contactID').hide();
    $('#savePass').on('click',function(event){
      event.preventDefault();
      event.stopPropagation();
      event.stopImmediatePropagation();
        let ids =document.getElementById('contactID').innerHTML;
      //  alert(ids);
        var $inputs = $('#savepassword :input');
        var values = {};
    
        $inputs.each(function() {
        values[this.name] = $(this).val();
        values.user =ids;
            console.log('password ids'+values);
    });
        $.ajax({
            url : '/users/updatePass',
            type:'post',
            data: values,
            dataType : 'json'
        })
        .done((response)=>{
            let msg = response;
            console.log('messageeee '+msg);

        })
        .fail((jqXHR, status, error) => {
            console.log('jqXHR  '+JSON.stringify(jqXHR));
            if(jqXHR.responseText== "Updated Successfully !")
                             {
                                //  alert('Updated Successfully !');
                                let errorHtml = '<div class="alert alert-success alert-dismissible fade show" role="alert">'+jqXHR.responseText+
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                                '<span aria-hidden="true">&times;</span>'+
                                '</button>'+
                                '</div>';
                                $('#errorMessages').empty();
                                $('#errorMessages').append(errorHtml); 
                               
                              }
                              else
                              {
                                console.log('jqXHR   '+JSON.stringify(jqXHR));
                                //  alert('Error: '+jqXHR.responseText);
                                let errorHtml = '<div class="alert alert-danger alert-dismissible fade show" role="alert">'+jqXHR.responseText+
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                                '<span aria-hidden="true">&times;</span>'+
                                '</button>'+
                                '</div>';
                                $('#errorMessages').empty();
                                $('#errorMessages').append(errorHtml); 
                             
                              }
      })   
    })
})
</script>